$breakpointsVals: (
  'xl' $bp-extraLarge,
  'lg' $bp-large,
  'md' $bp-medium,
  'sm' $bp-small,
  'xs' $bp-xsmall
) !default;
// Max number of columns
$columns: 12 !default;

.shape-container {
  max-width: $containerMaxWidth;
  margin: auto;
  padding: 0 1rem;

  &.shape-sidebar {
    width: calc(100% - 55px);
    max-width: calc(100% - 55px) !important;
    margin: 0 1px 0px 55px !important;
    padding: 0 2rem !important;
  }
}
.shape-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex: auto;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  @for $i from 1 through $columns {
    @include col($i, 'default', 'null', $columns, 'false', 'flase', !important);
    @include col($i, 'default', 'null', $columns, 'true', 'false', !important);
  }
}
.shape-col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: auto;
  width: auto;
  max-width: none;
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.shape-col-auto-np {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: auto;
  width: auto;
  max-width: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
@for $i from 1 through $columns {
  @include col($i, 'default', 'null', $columns, 'false', 'true', !important);
  @include col($i, 'default', 'null', $columns, 'true', 'true', !important);
}

@media screen and (#{max-width}: $bp-extraLarge) {
  .shape-row {
    @for $i from 1 through $columns {
      @include col(
        $i,
        $bp-extraLarge,
        'xl',
        $columns,
        'true',
        'false',
        !important
      );
      @include col(
        $i,
        $bp-extraLarge,
        'xl',
        $columns,
        'false',
        'false',
        !important
      );
    }
  }
  @for $i from 1 through $columns {
    @include col(
      $i,
      $bp-extraLarge,
      'xl',
      $columns,
      'true',
      'true',
      !important
    );
    @include col(
      $i,
      $bp-extraLarge,
      'xl',
      $columns,
      'false',
      'true',
      !important
    );
  }
}

@media screen and (#{max-width}: $bp-large) {
  .shape-row {
    @for $i from 1 through $columns {
      @include col($i, $bp-large, 'lg', $columns, 'true', 'false', !important);
      @include col($i, $bp-large, 'lg', $columns, 'false', 'false', !important);
    }
  }
  @for $i from 1 through $columns {
    @include col($i, $bp-large, 'lg', $columns, 'true', 'true', !important);
    @include col($i, $bp-large, 'lg', $columns, 'false', 'true', !important);
  }
}

@media screen and (#{max-width}: $bp-medium) {
  .shape-row {
    @for $i from 1 through $columns {
      @include col($i, $bp-medium, 'md', $columns, 'true', 'false', !important);
      @include col(
        $i,
        $bp-medium,
        'md',
        $columns,
        'false',
        'false',
        !important
      );
    }
  }
  @for $i from 1 through $columns {
    @include col($i, $bp-medium, 'md', $columns, 'true', 'true', !important);
    @include col($i, $bp-medium, 'md', $columns, 'false', 'true', !important);
  }
}

@media screen and (#{max-width}: $bp-small) {
  .shape-row {
    @for $i from 1 through $columns {
      @include col($i, $bp-small, 'sm', $columns, 'true', 'false', !important);
      @include col($i, $bp-small, 'sm', $columns, 'false', 'false', !important);
    }
  }
  @for $i from 1 through $columns {
    @include col($i, $bp-small, 'sm', $columns, 'true', 'true', !important);
    @include col($i, $bp-small, 'sm', $columns, 'false', 'true', !important);
  }
}

@media screen and (#{max-width}: $bp-xsmall) {
  .shape-row {
    @for $i from 1 through $columns {
      @include col($i, $bp-xsmall, 'xs', $columns, 'true', 'false', !important);
      @include col(
        $i,
        $bp-xsmall,
        'xs',
        $columns,
        'false',
        'false',
        !important
      );
    }
  }
  @for $i from 1 through $columns {
    @include col($i, $bp-xsmall, 'xs', $columns, 'true', 'true', !important);
    @include col($i, $bp-xsmall, 'xs', $columns, 'false', 'true', !important);
  }
}

.shape-float-r {
  float: right;
}
.shape-float-l {
  float: left;
}
