/* Remove padding and margin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
  padding: 0;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
img {
  vertical-align: middle;
  border-style: none;
}
button:focus {
  outline: 0 dotted;
  outline: 0 auto -webkit-focus-ring-color;
}
table {
  border-collapse: collapse;
}
svg:not(:root) {
  overflow: hidden;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }

  &:not([href]):not([tabindex]):hover,
  &:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
  }

  &:not([href]):not([tabindex]):focus {
    outline: 0;
  }
}
.shape-hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border-style: solid;
  border-width: 0.5px;
  height: 1px;
  width: 100%;
  border-color: $hr-color;
}
