/// Layout

$hr-color: #e4e4e4;
$headerHeight: 4rem;
$optionGroupSize: 22px;
$switchWidth: 60px;
$inputHeight: 2.4rem;

////  breakpoints
$containerMaxWidth: 1250px;
$bp-xsmall: 320px;
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extraLarge: 1900px;

$positions: (
  'top': fadeInDown,
  'bottom': fadeInUp,
  'right': fadeInRight,
  'left': fadeInLeft,
);
